body {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  font-size: 1px;
  white-space: nowrap;

  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.main-header {
  width: 100%;

  background-color: #eeeeee;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-navigation {
  display: flex;

  padding-top: 45px;
}

.main-header-logo {
  margin-right: 200px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 440px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation-link,
.cart {
  display: block;

  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 500;
  line-height: 30px;
  color: inherit;
  text-transform: uppercase;
}

.cart {
  margin-left: auto;
  padding-left: 40px;
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.cart:hover,
.cart:focus {
  color: #fb565a;
}

.site-navigation-link:active,
.cart:active {
  color: inherit;

  opacity: 0.3;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  opacity: 0.8;
}

.main-navigation-link:active {
  opacity: 0.3;
}

.page-title {
  margin-bottom: 55px;
  padding-bottom: 100px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;

  background-color: #eeeeee;
}

.features {
  padding-top: 65px;
  margin-bottom: 80px;
}

.feature-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature {
  background-color: #eeeeee;
}

.feature-title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.feature-text {
  margin-bottom: 40px;

  color: #283136;
}

.button {
  display: inline-block;
  padding: 16px 0;
  min-width: 50px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  border: none;
  border-radius: 3px;
}

.feature-button {
  width: 240px;
  margin-bottom: 80px;

  background-color: #fb565a;
}

.feature-button:hover,
.feature-button:focus {
  background-color: #e74246;
}

.feature-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(215, 55, 59, 1);
}

.services {
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  width: 280px;
  padding-right: 80px;
}

.service-item-title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 170px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.service-item-text {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  line-height: 24px;
  color: #283136;
}

.services-button {
  width: 160px;
}

.services-button-sites {
  background-color: #fb565a;
}

.services-button-apps {
  background-color: #00ca74;
}

.services-button-presentations {
  background-color: #efc84a;
}

.services-button-sites:hover,
.services-button-sites:focus {
  background-color: #e74246;
}

.services-button-apps:hover,
.services-button-apps:focus {
  background-color: #00bc6c;
}

.services-button-presentations:hover,
.services-button-presentations:focus {
  background-color: #eab534;
}

.services-button-sites:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(215, 55, 59, 1);
}

.services-button-apps:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(0, 170, 98, 1);
}

.services-button-presentations:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(229, 167, 34, 1);
}

.studio {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.studio-info {
  width: 660px;
  padding-top: 80px;
}

.studio-info-lead {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.studio-info-text {
  margin-bottom: 40px;
}

.studio-info-text,
.studio-info-services-item {
  color: #283136;
}

.studio-info-services {
  margin: 0;
}

.studio-info-services,
.promo-table-title {
  font-weight: 700;
  text-transform: uppercase;
}

.studio-info-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.studio-info-services-item {
  padding-left: 37px;
  padding-top: 30px;
}

.promo {
  width: 360px;
  padding-top: 40px;
}

.promo-logo {
  margin-bottom: 40px;
}

.promo-table {
  border-spacing: 15px;
}

.promo-table-title {
  margin-bottom: 30px;
}

.promo-table-line-one {
  line-height: 18px;
  color: #283136;
}

.promo-table-line-two {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.text-sup {
  font-size: 25px;
  vertical-align: super;
}

.partners {
  margin-bottom: 80px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #eeeeee;
}

.partners-link {
  opacity: 0.2;
}

.partners-link:hover,
.partners-link:focus {
  opacity: 1;
}

.partners-link:active {
  opacity: 0.1;
}

/* Каталог */

.inner-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.filters {
  width: 260px;
}

.catalog {
  width: 760px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.sorting-item {
  display: inline-block;
}

.sorting-text {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-link {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-link:hover,
.sorting-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
}

.catalog-list-item {
  width: 360px;
  margin-bottom: 35px;
}

.catalog-item-info {
  background-color: #eeeeee;
}

.catalog-item-title {
  margin: 0;
}

.catalog-item-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  text-transform: uppercase;
}

.catalog-item-text {
  line-height: 18px;
  color: #666666;
}

.price-button {
  background-color: #fb565a;
}

.price-button:hover,
.price-button:focus {
  background-color: #e74246;
}

.price-button:active {
  background-color: #d7373b;
}

.filter-fieldset {
  border: none;
}

.filter-legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-option-list {
  list-style: none;
}

.filter-item {
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.filter-item input {
  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
}

.filter-option label {
  line-height: 20px;
  color: #283136;
}

.filter-option .filter-input:disabled + label {
  opacity: 0.3;
}

.filter-form button {
  font: inherit;
  font-weight: 500;
}

.filter-button {
  width: 260px;
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-link {
  height: 50px;
  box-sizing: border-box;

  color: inherit;

  background-color: #eeeeee;
}

.pagination-item:last-child .pagination-link {
  width: 260px;
}

.pagination-link.active {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #dfdfdf;
}

.pagination-link:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

/* Конец каталога */

.contact-info {
  margin-bottom: 70px;
}

.contacts {
  width: 210px;
  padding: 50px;
}

.contacts-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-text,
.contacts-tel {
  line-height: 18px;
  color: #666666;
}

.contacts-tel {
  margin-bottom: 35px;
}

.contacts-button {
  width: 220px;
  background-color: #fb565a;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: #e74246;
}

.contacts-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(215, 55, 59, 1);
}

.social {
  display: flex;
}

.social-buttons {
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  list-style: none;
}

.social-promo {
  width: 560px;
  line-height: 22px;
  color: #444444;
}

.social-promo-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.modal {
  width: 760px;
  padding: 65px 100px 85px 100px;

}

.modal-text {
  margin: 0;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-item {
  width: 360px;
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 700;
  line-height: 18px;
}

.feedback-item:last-of-type {
  width: 760px;
  margin-bottom: 45px;
}

.feedback-label {
  display: inline-block;
  margin-bottom: 10px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font: inherit;
  font-weight: 400;
  line-height: 18px;
  color: #444444;

  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  border-color: #b4b9bb;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  border-color: #000000;
  outline: 2px black;
}

.feedback-form input[type="email"]:invalid {
  color: #e74246;

  border-color: #e74246;
}

.feedback-form button {
  font: inherit;
}

.feedback-button {
  width: 260px;

  background-color: #fb565a;
}

.feedback-button:hover,
.feedback-button:focus {
  background-color: #e74246;
}

.feedback-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: rgba(215, 55, 59, 1);
}

